<h3><head ">Categories</head></h3>
    <div>
    {% if categories %}
        <ul>
        {% for category in categories %}
        <li>
          <h3><a href="{% url 'hashtagtube:show_category' category.slug %}" class="text-dark">{{ category.title }}</a></h3>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    <br>
    <strong>
        <h3><a href="/hashtagtube/add_category/" style="padding-left:10px;" class="text-dark">Add a category</a></h3>
    </strong>
    </div>
