{% extends 'hashtagtube/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.title }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.video }}" style="padding-left:250px;" class="text-dark">{{ page.title }} </a></li>
        {% endfor %}
    </ul>
    {% else %}
        <h2 style="padding-left:250px;"><strong>No video currently in category.</strong></h2>
    {% endif %}
    {% if user.is_authenticated %}
        <h3><a href="{% url 'hashtagtube:add_video' category.slug %}" style="padding-left:250px;" class="text-dark">Upload Video</a><br /></h3>
    {% else %}
    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}
       
