{% extends 'hashtagtube/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<h1 style="padding-left:250px;"> Home </h1>
	<div class="container">
      <div class="row my-4">

        {% for video in page_list %}
        <div class="col-3">

          <a href="{% url 'video' video.id %}" style="text-decoration: none;">
            <img src="{% static video.thumbnail.url %}" class="w-100">
          </a>
          <a href="{% url 'video' video.id %}" style="text-decoration: none;">
            <h6>{{video.title}}</h6>  
          </a>
          <span class="text-muted">{{video.views.all.count}} views

        </div>
        {% endfor %}
        
	
	
{% endblock %}