{% extends 'hashtagtube/base.html' %}
{% load staticfiles %}



{% block body_block %}
<h1 style="padding-left:250px;">Your Profile</h1>
	<div class="profile-info" style="padding-left:250px;">
		
		<h2>{{UserProfile.user}}</h2>
		{%if UserProfile.user != request.seesion.user %}
		{% if followed %}
			<a href="{% url 'follow' user_obj.name %}" style="border: 1px solid; background: white; padding:10px; color: #15dae0;">Unfollow</a>
		{% else %}
			<a href="{% url 'follow' user_obj.name %}" style="border: 1px solid; background: yellow; padding:10px; color: black;">Follow</a>
		{% endif %}
		{% endif %}
	</div>
	
	<div class="sidebar-info">
		{% block sidebar_block %}
			<h3>followers</h3>
			{{UserProfile.count_followers}}
			<h3>following</h3>
			{{UserProfile.count_following}}
		{% endblock %}
	</div>
	
	<div class="videos">
		<h1 style="padding-left:250px;"> Your Posts </h1>
		<! -- uploaded videos -->
{% endblock%}