{% extends 'hashtagtube/base.html' %}
{% load staticfiles %}



{% block body_block %}
<h1>Your Profile</h1>
	<div class="profile-info">
		<img src="{% static UserProfile.picture.url %}" style="width: 150px;height: 200px;"> 
		<h2>{{UserProfile.user}}</h2>
		{%if UserProfile != user_login.username}
		{
		
	</div>
	
	<div class="sidebar-info">
		{% block sidebar_block %}
			<h3>followers</h3>
			{{UserProfile.count_followers}}
			<h3>following</h3>
			{{UserProfile.count_following}}
		{% endblock %}
	</div>
	
	<div class="videos">
		<h1> Your Posts </h1>
		<! -- uploaded videos -->